<div>
  <%= index %>
  <%= branch_question.branch_content %>
</div>

<div class="question_options" style="display: none">
  <ul>
    <% branch_question.options.split(";||;").each  do |option| %>
      <li><input name="answer[]" type="checkbox"/>
        <%= option %>
      </li>
    <% end %>
  </ul>

</div>