<div class="question_content" onclick="toggleNext(this)">
  <%= question.content.gsub(/\[\[[^\[\[]*\]\]/, "___") %>
</div>

<div class="question_options" style="display: none">

    <% @branch_question_hash[question.id][0].answer.split(";||;").each  do |answer| %>

  <%= answer %> &nbsp;&nbsp;&nbsp;&nbsp;

    <% end %>


</div>
