<div class="question_content" onclick="toggleNext(this)">
  <%= question.content.gsub(/\[\[[^\[\[]*\]\]/, "___") %>
</div>

<div class="question_options" style="display: none">
  <ul>
    <% @branch_question_hash[question.id].each_with_index do |branch_option, index| %>
      <li>
        <%= index+1 %>
        <% branch_option.options.split(";||;").each  do |option| %>
          <input name="answer" type="radio"/>
          <%= option %>

        <% end %>
      </li>
    <% end %>
  </ul>
</div>
