<table>
  <tr>
    <th>名称</th>
    <th>操作</th>
  </tr>
  <% @tags.each do |tag| %>

    <tr>
      <td><%= tag.name %></td>
      <td>
        <%= link_to "编辑", edit_course_cardbag_tag_path(@course, tag), :remote => true, :class => "markInfo green_btn" %>
        <%= link_to "删除", course_cardbag_tag_path(@course, tag), :method => :delete, :confirm => "确定删除吗？", :class=>"green_btn" %>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate @tags %>

<script type="text/javascript">
<%  if controller.action_name !="index" %>
    $(document).ready(function(){
      $(".pagination a").unbind("click");
      $(".pagination a").bind("click", function() {
        var url = this.href + "&tag_name="+$("#search_tag").val();
        $.ajax({
          async:true,
          url:url,
          dataType:"script",
          type:"POST",
          success:function(){
            // alert(1);
          },error:function(){
            // alert("error");
          }
        });
        return false;
      });
     
    });
<% end %>
</script>