<% if @tag.errors.any? %>
  alert('<%= @notice.html_safe %>')
<% end %>
  
$("#tag_container").html("<h1>标签编辑</h1>" + '<%= j (render 'form') %>');
$("#tag_container").parent(".second_content").show()

