<% if @chapter.errors.any? %>
  alert("<%= @notice.html_safe() %>");
<% end %>

$("#chapter_container").html("<h1>添加章节</h1>" + '<%= j (render 'form') %>');
$("#chapter_container").parent(".second_content").show()
