/* 
    Document   : common
    Created on : 2013-9-27, 16:48:59
    Author     : AbelZhang
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/* amanda added css*/
root { 
    display: block;
}

.toggle_display{
    display:none
}
.second_content form .prop_question_type{
    background-color: #EDF0F1;
    border: 1px solid #CBD5D9;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    width: 250px;
}
.second_content form .prop_question_type input[type="checkbox"]{
   margin-right: 0px
}
.clear{ clear: both; }
.theTabs li span a{
    color: white;
}
.pass_box a.passEnter{
    margin-left: 95px;
}
.pass_box p.passEnter{
    margin-left: 10px;
}
.second_content .form_row label.label{
    float: left;
    margin-right: 30px;
    text-align: right;
    width: 100px;
    display: block;
}
.second_content .form_row label.error{
    color:red
}
.second_content input,.second_content textarea,.second_content select{
    margin-right: 20px
}
.second_content .fileBox input.fileText_1{
    width: 200px;
    margin-right: 5px
}
.second_content .fileBox { margin-bottom: 10px; margin-right: 50px;width:300px}
.second_content a.button {
	width:100px;
	display:block;
	float:left;
	margin-right:5px;
}
.second_content form.upload-kcard{
  float:right
}