* { padding: 0; margin: 0;}
body { font-family: "微软雅黑", "宋体", Arial; font-size: 12px; background:#edf0f1;}
li { list-style: none;}
a { text-decoration: none;}
button { font-family: "微软雅黑", "宋体", Arial; border: none; cursor: pointer;}
button:hover { box-shadow:0px 0px 2px rgba(0,0,0,0.3);}
h1 { font-size: 18px; color: #202e3c; line-height:36px; margin-bottom:5px; padding-bottom:5px;}

.green_btn { 
	background: #4dc078; 
	padding: 5px 10px; 
	color: #FFFFFF;
	
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
}

.grey_btn { 
	background: #425364; 
	padding: 5px 10px; 
	color: #FFFFFF;
	
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
}

.box { width: 1000px; margin: 0 auto;}
.cf:after { clear: both; content:"."; display: block; height: 0; overflow: hidden; visibility:hidden;}
.close { 
    width: 17px; 
	height: 17px; 
	display: block; 
	text-indent: -999px;
	background: url(/assets/close.png) no-repeat;
	cursor: pointer;
}

/*顶部导航*/
.head { background: #202e3c;}
.logo { 
    height: 60px; 
	line-height:60px; 
	float: left; 
	color: #bec8d1; 
	font-weight:bold; 
	font-size: 22px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.user { float: right; margin-top: 18px;}
.user_name { 
    padding-left: 30px; 
	background: url(/assets/user_icon.png) no-repeat 0px center;
	height: 24px; 
	line-height:24px;
	color: #bec8d1;
	float: left;
}
.out { float: left; margin-left: 20px;}
.out a { 
    width: 20px; 
	height:20px; 
	display: block; 
	background: url(/assets/out_icon.png) no-repeat;
	text-indent: -999px; 
	overflow: hidden;
}
.nav { height:50px; line-height:50px; background:#38495b;}
.menu { width:1000px; margin: 0 auto; padding-left: 200px;}
.menu li { float: left; margin: 0px 10px;}
.menu li a { 
    color: #96a3b2; 
	display: block; 
	height: 50px; 
	width: 120px; 
	text-align: center; 
	font-size: 18px; 
	text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}
.menu li a.hover, .menu li a:hover { color: #edf0f1; background:#5c728a;}

/*main*/
.main { width: 1000px; margin: 0px auto; padding: 10px 0; text-align:left;}
.set_btn { float: right; margin-top: -43px;}

.con_box {
	background:#FFFFFF;
	position: relative;
    border-radius: 5px 5px 5px 5px;
    float: left;
	width: 270px;
    margin: 0 20px 10px 0;
    padding: 10px;
}

.obj_box { 
	height: 195px;
}

.con_box .close {overflow: hidden; position: absolute; top: 10px; right: 10px; display: none;}

.con_box:hover .close { display:block;}

.con_box:hover { box-shadow: 0px 0px 20px rgba(0,0,0,0.3);}

.imgText {
	width:250px;
	height:130px;
}

.imgText img {
	float:left;
}

.imgText div {
	float:left;
}

.imgText .rightText {
	width:160px;
	margin-left:10px;
}

.rightText dl {
	float:left;
	width:100%;
}

.rightText dt {
	width:40%;
	float:left;
	text-align:right;
}

.rightText dd{
	width:50%;
	float:left;
	margin-left:10px;
}

.action button {
	margin-bottom:10px;
	margin-left:20px;
}

h1 a { cursor: pointer;}

.theTabs li {
	width:120px;
	height:35px;
	line-height:35px;
	font-size:18px;
	background-color:#38495b;
	color:#FFFFFF;
	margin: 10px 0;
	float:left;
	cursor: pointer;
}

.theTabs li span {
	margin-left:40px;
}

.theTabs li span a{
	color:#FFFFFF;
}

.theTabs li.used {
	background-color:#384990;
}

.tabDiv {
	display:none;
	width:99%;
	float:left;
	margin-top:20px;
}

.tabDiv.used {
	display:block;
}

.main table {
    border-collapse: collapse;
    margin: 20px;
    width: 90%;
}

.main tr {
    border: 5px solid #FFFFFF;
    height: 40px;
	line-height: 40px;
}

.main th,.main td {
	padding-left:20px;
}

.cpt_box .cpt_title { font-size:24px; font-weight:bold; display:block; line-height:110px; margin-left:30px;}

.passUp {
	margin-left:20px;
	margin-bottom:20px;
}

.pass_box label{
	font-size:18px;
	margin-left:20px;
	display:block;
	padding-top:10px;
}

.pass_box button{
	display:block;
	margin-left:20px;
	margin-top:10px;
}

.pass_box .passEnter{
	margin-left:20px;
	margin-top:10px;
}

.searchDiv{
	width:60%;
	float:left;
	margin-left:20px;
}

.searchDiv input,.searchDiv select{
	font-size:16px;
	width:200px;
	margin-top:10px;
}

.searchDiv button,.searchDiv span{
	font-size:18px;
	margin-top:10px;
}

.infoDiv {
	float:left;
	width:30%;
	border:2px solid #ffffff;
	margin-bottom:20px;
}

.infoDiv .rightText{
	margin:10px;
	height:90px;
}

.infoDiv button {
	margin-left:45px;
}

.qstDiv { float:left; width:90%;}

.userInfo2 {
	height:80px;
}

.userInfo2 img,.userInfo2 dl {
	float:left;
	margin-left:20px;
}

.userInfo2 dd {
	font-size:18px;
	display:block;
	margin-top:16px;
}

/*弹窗*/
.second_content {
    background-color: #FFFFFF;
    border: 1px solid #CBD5D9;
    border-radius: 5px 5px 5px 5px;
	width: 450px;
    height: auto;
    overflow: auto;
    padding: 10px;
    position: absolute;
    top: 140px;
	left: 350px;
    z-index: 99;
}

.second_content .close {
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 10px;
}

.second_content h1 { display:block; text-align:center;}

.second_content form label {
    float: left;
    margin-right: 30px;
    text-align: right;
    width: 100px;
}

.second_content form input[type='text'],.second_content form input[type='file'],.second_content form textarea,.second_content form select{
    background-color: #EDF0F1;
    border: 1px solid #CBD5D9;
    display: block;
    float: left;
    font-size: 18px;
    margin-bottom: 10px;
    width: 250px;
    margin-right:50px;
}
.second_content form .prop_question_type{
    background-color: #EDF0F1;
    border: 1px solid #CBD5D9;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
    width: 250px;
    margin-left: 130px;
}
.prop_name img {
  margin-bottom: -10px;
  margin-top: 5px;
}
.second_content form h3 {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.second_content form button {
    margin-bottom: 10px;
	width:100px;
	margin-left:130px;
}

.second_content .btn_div { padding-top:60px; padding-left:120px;}
.second_content .btn_div button { margin-left:10px;}
.clear{ clear: both;  }