* { padding: 0; margin: 0;}
body { font-family: "微软雅黑", "宋体", Arial; font-size: 12px; background:#edf0f1;}
li { list-style: none;}
a { text-decoration: none;}
button { font-family: "微软雅黑", "宋体", Arial; border: none; cursor: pointer;}
button:hover { box-shadow:0px 0px 2px rgba(0,0,0,0.3);}
h1 { font-size: 18px; color: #202e3c; line-height:36px; margin-bottom:5px; padding-bottom:5px;}
h1 span{ font-size:16px;}

.green_btn {
	background: #4dc078;
	padding: 3px 10px;
	color: #FFFFFF;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
}

.grey_btn {
	background: #425364;
	padding: 3px 10px;
	color: #FFFFFF;
    border: 0 none;
    border-radius: 5px 5px 5px 5px;
}

.box { width: 1000px; margin: 0 auto;}
.cf:after { clear: both; content:"."; display: block; height: 0; overflow: hidden; visibility:hidden;}
.close {
    width: 17px;
	height: 17px;
	display: block;
	text-indent: -999px;
	background: url(/assets/close.png) no-repeat;
	cursor: pointer;
}

/*登录*/
.login {
	width:400px;
	height:320px;
	margin: 100px auto;
	background: #ffffff;
	border-radius: 5px;
	text-align:center;
}

.login .title {
	height:65px;
	background-color: #2c3e51;
	border-radius: 5px 5px 0 0;
}

.login .title h1 {
	color:#FFFFFF;
	line-height:65px;
	font-size:24px;
	padding:0;
	margin:0;
}

.login input{
	width:300px;
	height:56px;
	line-height:56px;
	border:1px solid #003333;
	font-size:20px;
	text-indent:50px;
	margin-top:20px;
	color:#ddd;
}

.login .name { background-image:url(/assets/username.png);}

.login .password { background-image:url(/assets/password.png);}

.login button {
	width:300px;
	height:56px;
	font-size:20px;
	color:#FFFFFF;
	margin-top:20px;
	border:0;
	background: #31455a;
	border-radius: 5px;
}

/*顶部导航*/
.head { background: #202e3c;}
.logo {
    height: 60px;
	line-height:60px;
	float: left;
	color: #bec8d1;
	font-weight:bold;
	font-size: 22px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.user { float: right; margin-top: 18px;}
.user_name {
    padding-left: 30px;
	background: url(/assets/user_icon.png) no-repeat 0px center;
	height: 24px;
	line-height:24px;
	color: #bec8d1;
	float: left;
}
.out { float: left; margin-left: 20px;}
.out a {
    width: 20px;
	height:20px;
	display: block;
	background: url(/assets/out_icon.png) no-repeat;
	text-indent: -999px;
	overflow: hidden;
}
.nav { height:50px; line-height:50px; background:#38495b;}
.menu { width:1000px; margin: 0 auto;}
.menu li { float: left; margin: 0px 10px 0 0;}
.menu li a {
    color: #96a3b2;
	display: block;
	height: 50px;
	width: 120px;
	text-align: center;
	font-size: 18px;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}
.menu li a.hover, .menu li a:hover { color: #edf0f1; background:#5c728a;}

/*main*/
.main { width: 1000px; margin: 0px auto; padding: 10px 0; text-align:left;}
.set_btn { float: right; margin-top: -43px;}

.con_box {
	background:#FFFFFF;
	position: relative;
    border-radius: 5px 5px 5px 5px;
    float: left;
	width: 270px;
    margin: 0 20px 10px 0;
    padding: 10px;
}

.obj_box {
	height: 195px;
}

.con_box .close {overflow: hidden; position: absolute; top: 10px; right: 10px; display: none;}

.con_box:hover .close { display:block;}

.con_box:hover { box-shadow: 0px 0px 20px rgba(0,0,0,0.3);}

.imgText {
	height: 123px;
	padding: 5px;
	width: 250px;
}

.imgText img {
	float:left;
}

.imgText div {
	float:left;
}

.imgText .rightText {
	width:160px;
	margin-left:10px;
}

.rightText dl {
	float:left;
	width:100%;
}

.rightText dt {
	width:40%;
	float:left;
	text-align:right;
}

.rightText dd{
	width:50%;
	float:left;
	margin-left:10px;
	overflow:hidden;
}

.action { padding: 5px; text-align: center; width:100%;}

h1 a { cursor: pointer;}

.theTabs li {
	width:120px;
	height:35px;
	line-height:35px;
	font-size:18px;
	background-color:#38495b;
	color:#FFFFFF;
	margin: 10px 0;
	float:left;
	cursor: pointer;
}

.theTabs li:hover {	background-color:#225599;}

.theTabs li span {
	margin-left:40px;
}

.theTabs li.used {
	background-color:#225599;
}

.tabDiv {
	display:none;
	width:99%;
	float:left;
	margin-top:20px;
}

.tabDiv.used {
	display:block;
}

.main table {
    border-collapse: collapse;
    width: 90%;
	table-layout:fixed;
	background:#FFFFFF;
	border: 5px solid #FFFFFF;
}

.main tr {
    height: 40px;
}

.main th,.main td {
	padding-left:20px;
	word-wrap:break-word;
}

.main th{ background:#d8dde0;}

.cpt_box .cpt_title { font-size:24px; font-weight:bold; display:block; line-height:82px; margin-left:30px;}

.passUp { margin:10px 240px; height:40px;}

.pass_box { width:200px;}
.pass_box label{
	font-size:18px;
	display:block;
	padding:10px;
}
.pass_box button{
	display:block;
	margin-left:95px;
}


.pass_head { height:150px;}
.upload { float:left; width:300px; height:110px;}
.upload .fileBox { margin:10px 0}

.passInfo { width:300px;}

.passInfo .passEdit {position: absolute; right: 20px; top: 10px;}

.searchDiv{
	background: none repeat scroll 0 0 #FBFBFB;
    border: 5px solid #FFFFFF;
    padding: 5px;
}

.searchDiv input,.searchDiv select{
	width:200px;
	padding:3px;
	margin:0 10px;
	border: 1px solid #CBD5D9;
}

.searchDiv button,.searchDiv span {}

.qstDiv table { width:100%;}

.userInfo2 {
	height:80px;
}

.userInfo2 img,.userInfo2 dl {
	float:left;
	padding:10px;
}

.userInfo2 dd {
	font-size:18px;
	display:block;
	margin-top:16px;
}

.prop_name img { margin-bottom: -10px; margin-left: -20px;}


/*file*/
.fileBox { position:relative; overflow:hidden; float:left;}
.fileBox .fileText_1 { border:1px solid #cdcdcd; padding:3px; width:70%; margin:0;}
.fileBox .fileBtn_1 { width:25%; margin:0;}
.fileBox .file_1 { position:absolute; top:0; left:0; filter:alpha(opacity:0); opacity: 0; width:100%; margin:0;}

/*分页*/
.pagination { width: 400px; margin: 15px auto; }
.pagination a,  .pagination em{
    cursor: pointer;
    margin: 0 2px;
    padding: 3px 10px;
	background: #ffffff;
	border: 1px solid #ffffff;
}
.pagination a:hover { color:#333}
.pagination em.current { background: #A8B5C4; color: #ffffff; font-weight: bold}



/*弹窗*/
.second_box { width:100%; height:100%; z-index:99; position:absolute; top:0;display: none}
.second_bg { width:100%; height:100%; z-index:98; position:absolute; top:0; background: #333; opacity: 0.5;display: none}
.second_content {
    background-color: #FCFCFC;
    border: 1px solid #CBD5D9;
    border-radius: 5px 5px 5px 5px;
	width: 520px;
	margin: 100px auto;
    padding: 10px;
	position: relative;
}
.second_content .close {
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 10px;
}

.second_content h1 { text-align:center;}
.second_content .form_row { width:100%; overflow:hidden;}

/*
.second_content label {
    float: left;
    margin-right: 30px;
    text-align: right;
    width: 100px;
	display:block;
}
*/
.second_content input[type="file"],.second_content input[type="text"],.second_content textarea,.second_content select {
    border: 1px solid #CBD5D9;
    display: block;
    float: left;
    margin-bottom: 10px;
    width: 250px;
/*	margin-right:50px;*/
	padding:3px;
}


.second_content h2 { text-align:center; color: #202E3C; font-size:16px; padding:10px;}

.second_content button {
	width:100px;
	display:block;
	float:left;
	margin-right:5px;
}
.second_content .fileBox { margin-bottom: 10px; margin-right: 50px;}
.second_content .fileText_1 { padding: 4px;}

.second_content .btn_div { padding-top:60px; padding-left:120px;}
.second_content .btn_div button { margin-left:10px;}